body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}

.message-info {
    margin: 10px;
    border-radius: 5px;
    border: 1px double;
    padding: 10px;
    width: 100%;
    background-color: paleturquoise;
    color: blue;
}

.message-success{
    margin: 10px;
    border-radius: 5px;
    border: 1px double;
    padding: 10px;
    width: 100%;
    background-color: palegreen;
    color: darkgreen;
}

.message-warning {
    margin: 10px;
    border-radius: 5px;
    border: 1px double;
    padding: 10px;
    width: 100%;
    background-color: palegoldenrod;
    color: goldenrod;
}

.message-error {
    margin: 10px;
    border-radius: 5px;
    border: 1px double;
    padding: 10px;
    width: 100%;
    background-color: palevioletred;
    color: darkred;
}